# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/.classpath
/.project
.metadata
build_tools/test/settings.yaml
build_tools/tool/post_release_hook/settings.yaml
build_tools/bin/pig_build
build_tools/bin/pig_install
build_tools/bin/pig_reconfigure
build_tools/bin/pig_start
build_tools/bin/pig_stop
build_tools/versions/
build_tools/.dart_tool/package_config.json
