# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/.classpath
/.project
.metadata
build_tools/test/settings.yaml
build_tools/tool/post_release_hook/settings.yaml
build_tools/bin/pig_build
build_tools/bin/pig_install
build_tools/bin/pig_reconfigure
build_tools/bin/pig_start
build_tools/bin/pig_stop
build_tools/versions/
build_tools/.dart_tool
.factorypath
build_tools/tmp.txt
build_tools/.packages
build_tools/fetch
build_tools/pubspec.lock
build_tools/bin/clean_zfs
build_tools/bin/pig_arm_builder
build_tools/pi_image/2021-10-30-raspios-bullseye-armhf-lite.img
build_tools/dart_2.15.1-1_amd64.deb
build_tools/dart.deb
build_tools/pi_image/qemu-rpi-kernel
build_tools/.history
.history