<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>

<Configuration status="trace">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
    </Console>

    <RollingRandomAccessFile name="RandomRollingFile" fileName="${env:SNAP_COMMON}/logging.log"
                 filePattern="${env:SNAP_COMMON}/%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d{ABSOLUTE} %-5p [%c{1}] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingRandomAccessFile>
    
   
	 <Async name="ASYNC">
      <AppenderRef ref="RandomRollingFile"/>
      <AppenderRef ref="Console"/>
    </Async>    
  </Appenders>
  <Loggers>
    <Logger name="org.apache.log4j.xml" level="debug">
      <AppenderRef ref="ASYNC"/>
    </Logger>
    
    <Root level="info">
      <AppenderRef ref="ASYNC"/>
    </Root>
  </Loggers>
</Configuration>